<!DOCTYPE html>
<html>
<head>
  <title>Ironbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<%= image_tag("airbnb_logo.png", height: "50", class: "app_logo") %>

	<%= link_to 'home', home_path, class: 'nav_links'%>
	<%= link_to 'become a host', become_a_host_path, class: 'nav_links'%>
	<%= link_to 'help', help_path, class: 'nav_links'%>
	<%= link_to 'log in', log_in_path, class: 'nav_links'%>
	<%= link_to 'sign up', sign_up_path, class: 'nav_links'%>
</div>

<%= yield %>

</body>
</html>
