<h1><%= @project.name %></h1>

<ol>
	<% @time_entries.each do | single_entry |%>
	<li>
		<%= single_entry.hours %> h - 
		<%= single_entry.minutes %> m -
		<%= single_entry.date %>	
		<%= link_to 'Edit', edit_project_time_entry_path(@project, single_entry) %>	
	</li>
	<% end %>

	<button>
		<%= link_to 'add time entry', new_project_time_entry_path %>
	</button>
	<button>
		<%= link_to 'back to projects', projects_path %>
	</button>
</ol>

