<h1><%= @project.name %></h1>

<% if flash[:notice] %>
	<h2>
		<%= flash[:notice] %>
	</h2>
<% end %>

<ol>
	<% @time_entries.each do | single_entry |%>
	<li>
		<%= single_entry.hours %> h - 
		<%= single_entry.minutes %> m -
		<%= single_entry.date %>	
		<%= link_to 'Edit', edit_project_time_entry_path(@project, single_entry) %>
		<%= link_to 'Delete', project_time_entry_path(@project, single_entry), method: :delete, data: {confirm: 'Are you sure???' } %>
	</li>
	<% end %>

	<button>
		<%= link_to 'add time entry', new_project_time_entry_path %>
	</button>
	<button>
		<%= link_to 'back to projects', projects_path %>
	</button>
</ol>

