<h1>Yet again ...</h1>

<button>
	<%= link_to("Sort by top", controller: "posts", comand: "top")%>
</button>
<button>
	<%= link_to("Sort by newer", controller: "posts", comand: "newer")%>
</button>
<button>
	<%= link_to("Sort by votes", controller: "posts", comand: "votes")%>
	<!-- html options look it up -->
</button>
<button>
	<%= link_to("New Post", :new_post)%>
</button>

<ul>
	<% @posts.each do | post | %>
		<li>
			<h2><%= post.title %></h2>
			<%= image_tag(post.gif_url)%>
				<br>
			<button>
				<%= link_to "Vote for this GIF", post_path(post.id) %>
			</button>
		</li>
	<% end %>
</ul>