<h1><%= @user.name %> Products</h1>

<ul>
	<% @products.each do | product | %>
		<li><%= product.name %></li>
		<ul>
			<li><%= product.description %></li>
			<li><%= product.deadline %></li>
		</ul>
		<br>
	<% end%>
</ul>

<button>
	<%= link_to 'Create New Product', new_user_product_path(@user) %>
</button>